@charset "utf-8";
/* CSS Document */

body{
	 background-image:url("../images/bc2.jpg");
	 background-repeat: no-repeat;
	 border-bottom-style: solid;
	 border: medium;
	width:1500px;
	height: 600px;
}
#box{
	margin-left: 250px;
	margin-top: 100px;
	font-size: 35px;
	font-style: oblique;
	color: antiquewhite;
	border: hidden;
}

.details{
	display: inline-block;
	/*width: 1300px;
	/height: 600px;*/
	margin-left: 300px;
}

p{
	font-size: 16px;
	color:antiquewhite;
}
a{
	font-size:19px;
	color:crimson;

}