@charset "utf-8";
/* CSS Document */

table No{
	
	 margin-left: 20px;
	 font-size: 20px;
	 font-style:oblique bold;
	
}

MaxPpl{
	margin-left: 20px;
	font-size: 20px;
	font-style: oblique bold;
}

location{
	 margin-left: 20px;
	font-size: 20px;
	font-style: oblique bold;
	
}
